body {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
  margin: 0;
}

h1 {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

h2 {
  padding: 10px;
  text-align: center;
  background: #0f7a65;
  color: white;
  font-size: 20px;
}

form {
  margin: auto;
  position: relative;
  width: 50%;
  height: 100px;
  background-color: gray;

  border: 2px solid rgb(65, 65, 65);
  border-radius: 5px;

  display: grid;
  grid-template-columns: 24% 74%;
  column-gap: 5px;
  row-gap: 5px;
  justify-content: center;
  align-content: center;
}

.add_task {
  outline: none;
  grid-column: 1 / span 2;
  background-color: rgb(15, 161, 71);
  border-radius: 3px;
  border: none;
  color: white;
  height: 20px;
}

input {
  outline: none;
  border: 2px solid rgb(0, 228, 87);
  border-radius: 4px;
  background-color: darkgreen;
  color: white;
}

input:focus {
  background-color: darkcyan;
}

input[type=checkbox] {
  accent-color: green;
}

.table_wrapper {
  overflow-x: auto;
  width: 50%;
  margin: auto;
}

table {
  width: 100%;
  border: 1px solid;
  border-collapse: separate;
  border-spacing: 0px;
  border-radius: 6px;
}

thead {
  background-color: rgb(18, 158, 18);
  color: black;
}

tbody {
  color: darkgreen;
}

tbody tr:nth-child(even) {
  background-color: gray;
}

tbody tr:nth-child(odd) {
  background-color: darkgray;
}



.col1 {
  width: 8ch;
}

.col2 {
  width: auto;
}

.col3 {
  width: 10ch;
}

.col4 {
  width: 6ch;
}

.delete {
  border: none;
  border-radius: 4px;
  background-color: lightgray;
}

.delete:hover {
  background-color: red;
}

.save {
  text-align: center;
}

.delete_all_container {
  text-align: center;
  margin: 10px;
}

.delete_all {
  border: none;
  border-radius: 4px;
  padding: 15px;
}

.delete_all:hover {
  background-color: red;
}

.confirm_button_container {
  display: flex;
  justify-content: space-evenly;
}

.confirm_button {
  padding: 5px;
  border: none;
  border-radius: 4px;
  width: 40%;
}

.confirm_yes:hover {
  background-color: green;
}

.confirm_no:hover {
  background-color: red;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}