body {
  font-family: 'Courier New', Courier, monospace;
  background-color: lightgray;
}

h1 {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

h2 {
  padding: 10px;
  text-align: center;
  background: #0f7a65;
  color: white;
  font-size: 20px;
}


form {
  margin: auto;
  position: relative;
  width: 50%;
  height: 100px;
  background-color: gray;
  display: grid;
  grid-template-columns: 24% 74%;
  column-gap: 5px;
  row-gap: 5px;
  justify-content: center;
  align-content: center;
}

.add_task {
  grid-column: 1 / span 2;
  background-color: rgb(15, 161, 71);
  border: none;
  color: white;
  height: 20px;
}

input {
  border: 2px solid rgb(0, 228, 87);
  border-radius: 4px;
  background-color: darkgreen;
  color: white;
}

input:focus {
  background-color: blue;
}

table, th, td {
  border: 1px solid;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 50%;
  color: darkgreen;
}

.delete {
  border: none;
}

.delete:hover{
  background-color: red;
}

.col1 {
  width:8ch;
}

.col2 {
  width:auto;
}

.col3 {
  width:10ch;
}

.col4 {
  width:6ch;
}